@charset "UTF 8";

body {
    background-color: lightsalmon;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

h1 {
    color: darkred;
    background-color: lightcoral;
}

p {
    text-align: justify;
}